.container {
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

.container .item {
  flex-shrink: 0;
  scroll-snap-align: start;
  border: 1px solid black;
}

.item img {
  width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.item-footer {
  padding: 1rem;
  background-color: #e3e2e1;
  border-top: 4px solid #545454;
}
